
<form action="<%= form_action %>" method="post">

  <%= render "layouts/auth" %>

  <label for="Username">Username
    <input type="text" name="user[username]" value="">
  </label>

  <label for="Password">Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" name="name" value="Sign Up">
 </form>
