$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;

.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  color: $teal;
}

.header-nav{
  padding: 5px 0 0 0;
}
.header ul {
  display: flex;
  justify-content: space-around;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 20px;
  font-size: 24px;
}
.header-logo:hover{
  background: $offwhite;
}
.header-list{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 1px; //Change
}
.header-list > li:hover{
  background: $offwhite;
  cursor: pointer;
}
.header ul li{
  padding:10px 20px;
  list-style: none;
  height: 100%;
  font-size: 18px;
}
#login-form{
  display: flex;
  justify-content: center;
  height: 500px;
  background: $offwhite;
  background-color: white;
  align-items: center;
}
.bk-button{
  padding: 2px;
  border: 50%;
  font-weight: bold;
}
.bk-button:hover{
  background-color: white;
}

.books-index{
  display: flex;
  flex-flow: wrap row;
  margin-top: 30px;
}
img{
  display: block;
  width: 50%;
  height: auto;
}
.splash{
  background: image-url('splash-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 600px;
}
.app{

  background: $offwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
// footer
.footer {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    align-self: flex-end;
}
