$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;

header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  color: $teal;
}
.header-nav{
  padding: 5px 0 0 0;
}
header ul {
  display: flex;
  justify-content: space-around;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 20px;
  font-size: 24px;
}
.header-logo:hover{
  background: $offwhite;
}
.header-list{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 1px; //Change
}
.header-list > li:hover{
  background: $offwhite;
  cursor: pointer;
}
header ul li{
  padding:10px 20px;
  list-style: none;
  height: 100%;
  font-size: 20px;
}

.bk-button{
  padding: 2px;
  border: 50%;
  font-weight: bold;
}
.bk-button:hover{
  background-color: $offwhite;
  color: $grey;
  border-radius: 3px;
}
.bk-button:hover:disabled{
  cursor: auto;
}

.books-index{
  display: flex;
  flex-flow: wrap row;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dropdown:hover {
  cursor: pointer;
  background: $offwhite;
}
.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    background: $offwhite;
    border-radius: 3px;
    li:hover{
      cursor: pointer;
      background: white;
    }
}

.splash{
  background: image-url('splash-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 95vh;

}
.splash .about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 68px;
  color: seashell;
  text-align: center;
  margin: 63px;
}

.splash .sub-title{
    font-size: 50px;
    padding: 50px;
}

.app{
  background: $offwhite;
  // height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
footer {
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: white;
}
footer address{
  position: absolute;
  height: 28px;
  z-index: 100;
  right: 5px;
  top: 12px;
  margin-right: 65px;
  font-style: normal;
}

.github-icon{
  background: image-url("GitHub-Mark-32px.png");
  background-repeat: no-repeat;
  width: 34px;
  position: absolute;
  height: 28px;
  z-index: 100;
  right: 5px;
  top: 8px;
  margin-right: 20px;
}
