$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;
$greytext: #494E52;
$errorRed: #D76D68;

.request-page{
  margin-top: 30px;
  margin-left: 40px;

  h2{
    font-size: 24px;
    font-weight: 600;
    color: $greytext;

  }
}

.requests-made{
  margin-top: 30px;
  margin-left: 40px;

  h2{
    font-size: 24px;
    font-weight: 600;
    color: $greytext;
    margin-left: -19px;
    margin-bottom: 20px;
  }

  .borrow-item{
    display: flex;
    align-items: column;
  }
}
