$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;
$greytext: #494E52;
$errorRed: #D76D68;

#login-form{
  position: absolute;
  top: 80px;
  left: 60px;
  background: $offwhite;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin: auto;
  clear: both;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  border-radius: 28px;
  input[type=text], input[type="password"] {
    padding:5px;
    border:2px solid $teal;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
}

}
.error{
  font-size: 18px;
  text-align: center;
  color: $errorRed;
}
.book-form{
  label{
    font-weight: bold;
  }
  position: absolute;
  top: 45px;
  left: 101px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: auto;
  clear: both;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  border-radius: 28px;

  input[type=text], textarea {
    padding:5px;
    border:2px solid $teal;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
  }
}
