$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;
$greytext: #494E52;
$errorRed: #D76D68;
#login-panel{
  position: absolute;
  top: 10px;
  // left: 100px;
  background: $offwhite;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 70px;
  clear: both;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  border-radius: 28px;
  input[type=text], input[type="password"] {
    padding:5px;
    border:2px solid $teal;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 15px;
}
h1{
  font-weight: 900;
  padding: 20px;
  font-size: 40px;
  color: $teal;
  margin: 0 auto 0 auto;
  }
.btn{
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
}
.error{
  font-size: 18px;
  text-align: center;
  color: $errorRed;
  margin: 10px
}
}//.login-form



.book-form{
  position: absolute;
  top: 20px;
  left: 50px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: auto;
  clear: both;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  border-radius: 28px;

  input[type=text], textarea {
    padding:5px;
    border:2px solid $grey;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
  }
  textarea{
    height: 200px;
    line-height: 1.6;
    font-size: 16px;
  }
  .btn{
    margin-top: 15px;
  }
}
