// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;
$greytext: #494E52;

// books ul
.books-index{
  margin-left: 60px;
  margin-bottom: 54px;
  margin-top: 30px;
}

.book-detail-item{
  display: flex;
  align-items: baseline;
  border: thin solid $grey;
  list-style: none;
  margin: 15px;
  border-radius: 5px;
  background: white;
  width: 200px;
  height: 200px;
  button:disabled{
    background: #ccc;
  }
  color: $greytext;

}
.book-detail-item{
  overflow: hidden;
  position: relative;
  transition: all .2s ease-in-out;
  border: 1px solid $teal;
  height: 240px;
  display: flex;
  align-items: center;
}
.book-detail-item img{
  width: 100%;
}
.book-detail-item:hover{
  cursor: pointer;
  box-shadow: -6px 5px 5px 0px rgba(118, 124, 121, 0.92);
}

.book{
  background: $offwhite;
  background-color: white;
  padding: 5px;
  display: block;
  overflow: scroll;
  height: 380px;
  h3{
    font-size: 22px;
    font-weight: bold;
  }
  h4{
    font-weight: bold;
  }
  p{
    line-height: 1.6;
  }
}

.caption{
  top: 170px;
  left: 0px;
  position: absolute;
  background: rgba(0,0,0, 0.5);
  color: white;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  .edit-delete .fa{
    padding: 5px;
    font-size: 1.5em;
  }
}
.book-detail-item:hover .caption{
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}
.book-index .borrow{
  padding: 6px;
}
