// Place all the styles related to the borrowings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $yellow: #EAA732;
$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;

.requests-made h3{
  font-size: 20px;
}

.borrow-item{
    display: flex;
    align-items: flex-start;
    // padding: 10px;
    list-style: none;
    margin: 5px;
    border-radius: 5px;
    background: white;
    height: 100px;
    width: 80%;
    img{
      margin-left: 10px;
      width: 50px;
    }
    ul{
      margin-left: 10px;
    }
}
