/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, section, article,
 h1, h2, p, strong, em, a, div,
 span, h3, h4, img, footer, header, nav,
 ul, li, label, input, textarea, button {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }
 ul{
   list-style: none;
 }
 img{
   display: block;
   width: 100%;
   height: auto;
 }
 /*Get rid of native styling. Read more here:*/
 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button{
   -webkit-appearance: none;
   -moz-appearance: none;
 }
 button,
 input[type="submit"]{
   cursor: pointer;
 }
 /*Clearfix*/
 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   background: #eee;
 }
 /*html {
  margin: auto;
  padding: 20px;
  height: 100%;s
  background-position: center center;
  background-size: cover;

}*/


h1 {
  padding: 20px;
  margin: auto;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
}
.header ul {
  display: flex;
  justify-content: space-around;
}
li{
  padding:10px;
  list-style: none;
}
#login-form{
  display: flex;
  justify-content: center;
  height: 500px;
  background: gainsboro;
  background-color: #E0B4B4;
  align-items: center;
}
.bk-button{
  padding: 5px;
  margin: 5px;
  border: 50%;
  font-weight: bold;
}
.bk-button:hover{
  background-color: grey;
}
.book{
  display: block;
  padding: 15px;
}
img{
  display: block;
  width: 30%;
  height: auto;
}
.className{
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}
.book-detail-item{
  display: flex;
  align-items: baseline;
  border: thin solid red;
  padding: 10px;
  list-style: none;
  margin-bottom: 5px;
  border-radius: 5px;
  background: white;
}
