// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$offwhite: #F8F8F8;
$grey: #7B868A;
$teal: #36A9AD;
$greytext: #494E52;

.book-index{
  padding-left: 17px;
  padding-top: 20px;
  h2{
    font-size: 24px;
    font-weight: 600;
  }
}
// $yellow: #EAA732;
.book-detail-item{
  display: flex;
  align-items: baseline;
  border: thin solid $grey;
  // padding: 10px;
  list-style: none;
  margin: 5px;
  border-radius: 5px;
  background: white;
  width: 200px;
  height: 200px;
  button:disabled{
    background: #ccc;
  }
  color: $greytext;
  padding: 10px;
}
.book-detail-item{
  transition: all .2s ease-in-out;
  border: 1px solid $teal;
}
.book-detail-item:hover{
  position: relative;
  box-shadow: -6px 5px 5px 0px rgba(118, 124, 121, 0.92);
}
// user_book_detail.jsx
.book{
  padding: 5px;
  display: block;
  border: 1px solid $grey;
}
