$yellow: #EAA732;
$beige: #C3C2BE;
$black: #000002;
// gainsboro

.header{
  display: flex;
  justify-content: space-between;
  background-color: $yellow;
}
.header a{
  display: block;
  padding: 10px 20px;
}
.header ul {
  display: flex;
  justify-content: space-around;
}
.header-logo {
  font-weight: 900;
}
.header-logo:hover{
  background: $beige;
}
.header-list{
  display: flex;
  justify-content: space-around;
}
.header-list > li:hover{
  background: $beige;
}
li{
  padding:10px;
  list-style: none;
}
#login-form{
  display: flex;
  justify-content: center;
  height: 500px;
  background: $beige;
  background-color: $yellow;
  align-items: center;
}
.bk-button{
  padding: 2px;
  // margin: 5px;
  border: 50%;
  font-weight: bold;
}
.bk-button:hover{
  background-color: $yellow;
}

.books-index{
  display: flex;
  flex-flow: wrap row;
  margin-top: 30px;
}
img{
  display: block;
  width: 50%;
  height: auto;
}

.book-detail-item{
  display: flex;
  align-items: baseline;
  border: thin solid $yellow;
  // padding: 10px;
  list-style: none;
  margin: 5px;
  border-radius: 5px;
  background: white;
  width: 150px;
}
